body {
  margin: 0;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  color: rgb(64, 64, 64);
  background-color: rgb(255, 255, 255);
}

h2.section-title {
  margin: 0;
  font-weight: bold;
  font-size: 43px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

h3 {
  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
}

p {
  margin: 0;
  line-height: 29px;
}

a.btn {
  margin: 0;
  padding: 14px 20px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid;
  border-radius: 2px;
}

/* news */
.news {
  display: grid;
  grid-template-columns: 1fr 400px 400px 1fr;
  grid-template-rows: 130px 472px 73px 140px 50px;
  padding-top: 85px;
  padding-bottom: 90px;
}

.news h2 {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.news .alc-left {
  grid-column: 2;
  grid-row: 2;
  background: url(img/bottle-left.jpg) no-repeat;
  background-position: 50% 0;
}

.news .alc-right {
  grid-column: 3;
  grid-row: 2;
  background: url(img/bottle-right.jpg) no-repeat;
  background-position: 50% 0;
}

.news .alc {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.news .alc .percent {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 65px;
  padding-bottom: 15px;
  line-height: 28px;
  word-spacing: 30px;
}

.news .alc .percent.right {
  padding-right: 52px;
}

.news .alc .percent span {
  word-spacing: normal;
}

.news .alc .ingredients {
  font-size: 14px;
  padding-right: 45px;
  padding-top: 12px;
  line-height: 24px;  
}

.news .alc .ingredients.right {
  padding-right: 26px;  
}

.news h3.left {
  grid-column: 2;
  grid-row: 3;
}

.news h3.right {
  grid-column: 3;
  grid-row: 3;
}

.news h3 {
  margin: 0;
  padding-left: 35px;
  font-weight: bold;
  font-size: 43px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.news p.left {
  grid-column: 2;
  grid-row: 4;
  padding-left: 35px;
}

.news p.right {
  grid-column: 3;
  grid-row: 4;
  padding-left: 35px;
}

.news .buttons-left {
  grid-column: 2;
  grid-row: 5;
  padding-left: 35px;
}

.news .buttons-right {
  grid-column: 3;
  grid-row: 5;
  padding-left: 35px;
}

.news .buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.news .btn-detailed {
  color: #834700;
  border-color: #834700;
}

.news .btn-buy {
  color: #ffffff;
  background-color: #834700;
  border-color: #834700;
}

.news span.price {
  font-weight: bold;
  padding-left: 30px;
}

.news .border-left {
  border-left: 1px solid rgb(0, 0, 0, 0.1);
}

.news .border-left-right {
  border-left: 1px solid rgb(0, 0, 0, 0.1);
  border-right: 1px solid rgb(0, 0, 0, 0.1);
}

/* .benefits */
.benefits {
  margin: 0;
  background-color: #ffcb78;
  padding-bottom: 65px;
  padding-top: 78px;
  /* margin-top: 30px; */
}

.benefits ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr repeat(3, 400px) 1fr;
  list-style: none;
}

.benefits-item {
  position: relative;
  margin: 0;
  padding-top: 90px;
  padding-left: 90px;
  padding-right: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.benefits-item.byitself {
  margin: 0;
  grid-column: 2;
  border-left: none;
}

.benefits-item.native {
  margin: 0;
  grid-column: 3;
}

.benefits-item.econom {
  margin: 0;
  grid-column: 4;
}

.benefits h3 {
  padding-top: 20px;
  padding-bottom: 25px;
}

.benefits-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 85px;
  width: 65px;
  height: 65px;
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
}

.benefits-item.byitself::before {
  background-position: -1px -5px;
}

.benefits-item.native::before {
  background-position: -5px -76px;
}

.benefits-item.econom::before {
  background-position: 1px -143px;
}

/* history */
.history {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-template-rows: 130px repeat(2, 55px 186px);
  margin: 0;
  padding-top: 80px;
  padding-bottom: 10px;
}

.history h2 {
  grid-column: 2;
  grid-row: 1;
}

.history a {
  margin: 0;
  color: rgb(151, 85, 9);
}

.history span {
  margin: 0;
  font-style: italic;
}

.history-term.origin {
  grid-column: 2;
  grid-row: 2;
  margin: 0;
}

.history-description.origin {
  grid-column: 2;
  grid-row: 3;
  margin: 0;
}

.history-term.classification {
  grid-column: 2;
  grid-row: 4;
  margin: 0;
}

.history-description.classification {
  grid-column: 2;
  grid-row: 5;
  margin: 0;
}

.history-term {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
}

.history-description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
}

/* about-us */
.about-us {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-template-rows: 130px 120px 50px;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: rgb(237, 229, 216);
}

.about-us h2 {
  grid-column: 2;
  grid-row: 1;
}

.about-us .quote {
  position: relative;
  grid-column: 2;
  grid-row: 2;
  margin: 0;
}

.about-us svg.left {
  position: absolute;
  top: 5px;
  left: -105px;
}

.about-us svg.right {
  position: absolute;
  top: 5px;
  left: -83px;
}

.about-us .readmore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 2;
  grid-row: 3;
  margin: 0;
}

.about-us .btn {
  color: #a69f97;
  border-color:  #a69f97;
}

.about-us span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

/* choice */
.choice {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-template-rows: 130px 1fr;
  margin: 0;
  padding-top: 90px;
  padding-bottom: 90px;
}

.choice h2 {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
}

.choice .price-list {
  grid-column: 2;
  grid-row: 2;
  margin: 0;
  display: grid;
  grid-template-columns: 404px repeat(3, 67px) 195px;
  grid-template-rows: 52px repeat(4, 67px);
}

.choice .price-list div {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}

.choice .price-list .head {
  text-transform: uppercase;
  font-size: 10px;
  color: #b5b5b5;
  font-weight: bold;
}

.choice .price-list .title {
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}

.choice .price-list span.novelty {
  font-size: 9px;
  color: #ffffff;
  background: #000000;
  margin-left: 20px;
  padding: 0 5px;
  height: 12px;
  vertical-align: middle;
  line-height: 14px;
  border-radius: 2px;
  margin-bottom: 5px;
}

.choice .price-list .price-alc,
.choice .price-list .price-energy,
.choice .price-list .price-volume {
  justify-content: center;
}

.choice .price-list .price-price {
  justify-content: flex-end;
}

.choice .price-list .center {
  align-items: center;
}