body {
  margin: 0;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  color: #404040;
  background-color: #ffffff;
}

h2.section-title {
  margin: 0;
  font-weight: bold;
  font-size: 43px;
  text-transform: uppercase;
  color: #000000;
}

h3 {
  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
}

p {
  margin: 0;
  line-height: 29px;
}

a.btn {
  padding: 14px 20px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid;
  border-radius: 2px;
}

/* header */
.page-header {
  display: grid;
  grid-template-columns: 1fr 200px 600px 1fr;
  grid-template-rows: 59px 268px 70px;
  padding-top: 73px;
  padding-bottom: 80px;
  background-image: url("img/header-bg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-logo {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
}

ul.main-nav {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: #ffffff33 1px solid;
  border-bottom: #ffffff33 1px solid;
}

.main-nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.promo {
  grid-column: 2 / 4;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 71px;
  line-height: 71px;
  justify-content: flex-end;
  align-items: center;
}

.nav {
  grid-column: 2 / 4;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav li {
  display: inline-block;
  text-indent: -9999px;
  width: 7px;
  height: 7px;
  background: #937c53;
  cursor: pointer;
}

.nav li:first-child {
  background: #ffffff;
}

.nav li:nth-child(2) {
  margin: 0 24px;
}

.page-header,
.page-footer {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

/* news */
.news {
  display: grid;
  grid-template-columns: 1fr 400px 400px 1fr;
  grid-template-rows: 130px 472px 73px 140px 50px;
  padding-top: 85px;
  padding-bottom: 90px;
}

.news h2 {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.news .alc-left {
  grid-column: 2;
  grid-row: 2;
  background: url(img/bottle-left.jpg) no-repeat;
  background-position: 50% 0;
}

.news .alc-right {
  grid-column: 3;
  grid-row: 2;
  background: url(img/bottle-right.jpg) no-repeat;
  background-position: 50% 0;
}

.news .alc {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.news .alc .percent {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #0000001a;
  padding-right: 65px;
  padding-bottom: 15px;
  line-height: 28px;
  word-spacing: 30px;
}

.news .alc .percent.right {
  padding-right: 52px;
}

.news .alc .percent span {
  word-spacing: normal;
}

.news .alc .ingredients {
  font-size: 14px;
  padding-right: 45px;
  padding-top: 12px;
  line-height: 24px;  
}

.news .alc .ingredients.right {
  padding-right: 26px;  
}

.news h3.left {
  grid-column: 2;
  grid-row: 3;
}

.news h3.right {
  grid-column: 3;
  grid-row: 3;
}

.news h3 {
  margin: 0;
  padding-left: 35px;
  font-weight: bold;
  font-size: 43px;
  text-transform: uppercase;
  color: #000000;
}

.news p.left {
  grid-column: 2;
  grid-row: 4;
  padding-left: 35px;
}

.news p.right {
  grid-column: 3;
  grid-row: 4;
  padding-left: 35px;
}

.news .buttons-left {
  grid-column: 2;
  grid-row: 5;
  padding-left: 35px;
}

.news .buttons-right {
  grid-column: 3;
  grid-row: 5;
  padding-left: 35px;
}

.news .buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.news .btn-detailed {
  color: #834700;
  border-color: #834700;
}

.news .btn-buy {
  color: #ffffff;
  background-color: #834700;
  border-color: #834700;
}

.news span.price {
  font-weight: bold;
  padding-left: 30px;
}

.news .border-left {
  border-left: 1px solid #0000001a;
}

.news .border-left-right {
  border-left: 1px solid #0000001a;
  border-right: 1px solid #0000001a;
}

/* .benefits */
.benefits {
  margin: 0;
  background-color: #ffcb78;
  padding-bottom: 65px;
  padding-top: 78px;
  /* margin-top: 30px; */
}

.benefits ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr repeat(3, 400px) 1fr;
  list-style: none;
}

.benefits-item {
  position: relative;
  margin: 0;
  padding-top: 90px;
  padding-left: 90px;
  padding-right: 20px;
  border-left: 1px solid #0000001a;
}

.benefits-item.byitself {
  margin: 0;
  grid-column: 2;
  border-left: none;
}

.benefits-item.native {
  margin: 0;
  grid-column: 3;
}

.benefits-item.econom {
  margin: 0;
  grid-column: 4;
}

.benefits h3 {
  padding-top: 20px;
  padding-bottom: 25px;
}

.benefits-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 85px;
  width: 65px;
  height: 65px;
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
}

.benefits-item.byitself::before {
  background-position: -1px -5px;
}

.benefits-item.native::before {
  background-position: -5px -76px;
}

.benefits-item.econom::before {
  background-position: 1px -143px;
}

/* history */
.history {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-template-rows: 130px repeat(2, 55px 186px);
  margin: 0;
  padding-top: 80px;
  padding-bottom: 10px;
}

.history h2 {
  grid-column: 2;
  grid-row: 1;
}

.history a {
  margin: 0;
  color: #975509;
}

.history span {
  margin: 0;
  font-style: italic;
}

.history-term.origin {
  grid-column: 2;
  grid-row: 2;
  margin: 0;
}

.history-description.origin {
  grid-column: 2;
  grid-row: 3;
  margin: 0;
}

.history-term.classification {
  grid-column: 2;
  grid-row: 4;
  margin: 0;
}

.history-description.classification {
  grid-column: 2;
  grid-row: 5;
  margin: 0;
}

.history-term {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
}

.history-description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
}

/* about-us */
.about-us {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-template-rows: 130px 120px 50px;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #ede5d8;
}

.about-us h2 {
  grid-column: 2;
  grid-row: 1;
}

.about-us .quote {
  position: relative;
  grid-column: 2;
  grid-row: 2;
  margin: 0;
}

.about-us svg.left {
  position: absolute;
  top: 5px;
  left: -105px;
}

.about-us svg.right {
  position: absolute;
  top: 5px;
  left: -83px;
}

.about-us .readmore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 2;
  grid-row: 3;
  margin: 0;
}

.about-us .btn {
  color: #a69f97;
  border-color:  #a69f97;
}

.about-us span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

/* choice */
.choice {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-template-rows: 130px 1fr;
  padding-top: 90px;
  padding-bottom: 90px;
}

.choice h2 {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
}

.choice .price-list {
  grid-column: 2;
  grid-row: 2;
  margin: 0;
  display: grid;
  grid-template-columns: 404px repeat(3, 67px) 195px;
  grid-template-rows: 52px repeat(4, 67px);
}

.choice .price-list div {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}

.choice .price-list .head {
  text-transform: uppercase;
  font-size: 10px;
  color: #b5b5b5;
  font-weight: bold;
}

.choice .price-list .title {
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}

.choice .price-list span.novelty {
  font-size: 9px;
  color: #ffffff;
  background: #000000;
  margin-left: 20px;
  padding: 0 5px;
  height: 12px;
  vertical-align: middle;
  line-height: 14px;
  border-radius: 2px;
  margin-bottom: 5px;
}

.choice .price-list .price-alc,
.choice .price-list .price-energy,
.choice .price-list .price-volume {
  justify-content: center;
}

.choice .price-list .price-price {
  justify-content: flex-end;
}

.choice .price-list .center {
  align-items: center;
}

/* order */
.order {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-template-rows: 125px 129px 1fr;
  padding-bottom: 100px;
  padding-top: 85px;
  background-color: #ffcb78;
}

.order h2 {
  grid-column: 2;
  grid-row: 1;
}

.order p {
  grid-column: 2;
  grid-row: 2;
}

.order-form {
  grid-area: 3 / 2 / 4 / 3;
  display: grid;
  grid-template-columns: 800px;
  grid-template-rows: repeat(3, 63px) 45px 63px 192px 81px 50px;
}

.order-form-group {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.order-form label {
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 18px;
}

label[for="phone"] {
  padding-right: 36px;
}

label[for="phone-odd"] {
  padding-right: 30px;
  padding-left: 54px;
}  

.order-form input[type="text"] {
  box-sizing: border-box;
  padding: 16px 0 16px 20px;
  border: none;
  background-color: #e6b66c;
}    

.order-form textarea {
  align-self: flex-start;
  box-sizing: border-box;
  padding: 16px 0 0 20px;
  border: none;
  background-color: #e6b66c;
}    

input[id="fullname"],
input[id="email"],
select[id="order-volume"],
textarea {
  width: 600px;
}    

input[id="phone-odd"],
input[id="phone"] {
  width: 200px;
}  

input[type="submit"] {
  padding: 14px 20px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  background: #834700;
  border: 2px solid #834700;
  border-radius: 2px;
  cursor: pointer;
}

::-webkit-input-placeholder{
  color: #a07f49;
  font-weight: bold;
  text-transform: uppercase;
}    

/* custom select */
.order-form select {
  display: none;
}

.select-custom {
  position: relative;
  width: 580px;            
  padding: 16px 0 16px 20px;
  background-color: #e6b66c;
  color: #a07f49;
}

.select-label {
  padding-top: 18px;
}

.select-custom,
.select-label {
display: inline-block;
vertical-align: middle;
text-transform: uppercase;
font-weight: bold;
}

.select-custom::after {
  content: "";
  position: absolute;
  top: 23px;
  right: 20px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid rgb(180, 143, 88);
}
/* custom select */

/* custom checkbox */
.checkbox {
	display: none;
}

label.for-checkbox-custom {
  padding: 0;
}

.checkbox-custom {
	position: relative;      
	width: 35px;            
	height: 35px;            
  background-color: rgb(230, 182, 108);
}

.checkbox-label {
  padding-left: 25px;
}

.checkbox-custom,
.checkbox-label {
	display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: bold;
}

.checkbox:checked + .checkbox-custom::before {
	content: "";             
	display: block;			 
	position: absolute;      
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url("img/bird.png");
}
/* custom checkbox */

.order-form-checkbox {
  padding-left: 200px;
}

.order-form-submit {
  padding-left: 200px;
}
