body {
    min-width: 1040px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: rgb(64, 64, 64);
    background-color: rgb(255, 255, 255);
}

.container {
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.page-header {
    min-height: 490px;
    padding-top: 35px;
    background-image: url("img/header-bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page-header .container {
    width: 1020px;
}

.page-header,
.page-footer {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.header-logo {
    float: left;
    padding-left: 100px;
}

.header-top {
    margin-bottom: 110px;
}

.main-nav {
    float: left;
    width: 605px;
    margin: 0;
    margin-top: 15px;
    margin-left: 80px;
    padding: 20px 0;
    list-style: none;
    border-top: rgba(255, 255, 255, 0.2) 1px solid;
    border-bottom: rgb(255, 255, 255, 0.2) 1px solid;
}

.main-nav li {
    float: left;
    margin-right: 55px;
    text-transform: uppercase;
}

.main-nav li:last-child {
    margin-right: 0;
}

.main-nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.main-nav a:hover {
    text-decoration: underline;
}

.main-nav a:active {
    color: rgba(255, 255, 255, 0.3);
}

.promo {
    font-weight: bold;
    font-size: 71px;
    line-height: 75px;
    text-align: center;
}

.promo a {
    color: #ffffff;
    text-decoration: none;
}

.btn {
    display: inline-block;
    width: 144px;
    padding: 11px 0;
    font: inherit;
    vertical-align: top;
    text-align: center;
    color: rgb(151, 85, 9);
    text-transform: uppercase;
    text-decoration: none;
    word-wrap: break-word;
    border: 2px solid rgb(151, 85, 9);
    border-radius: 2px;
}

.section-title {
    margin: 0;
    margin-right: 180px;
    margin-bottom: 100px;
    font-weight: bold;
    font-size: 43px;
    line-height: 55px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.news {
    padding-top: 85px;
    padding-bottom: 90px;
}

.news .container {
    width: 810px;
}

.news-item {
    float: left;
    width: 402px;
    border-left: 1px solid rgb(0, 0, 0, 0.1);
    border-right: 1px solid rgb(0, 0, 0, 0.1);
}

.news-item:last-child {
    border-left: none;
}

.rel {
    position: relative;
    width: 400px;
    height: 459px;
}

.rel.rel1 {
    background: url(img/bottle-left.jpg) no-repeat;
    background-position: 50% 50%;
}

.rel.rel2 {
    background: url(img/bottle-right.jpg) no-repeat;
    background-position: 50% 50%;
}

.topright {
    position: absolute;
    top: 0;
    right: 0;
}

.alc {
    font-weight: bold;
    text-transform: uppercase;
    word-spacing: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 60px;
    padding-bottom: 15px;
    line-height: 28px;
}

span {
    word-spacing: normal;
}

.news-item .topright p {
    font-size: 14px;
    line-height: 24px;
    margin-left: 0;
}

.news-item p {
    line-height: 29px;
    margin-bottom: 60px;
}

.news-item h3 {
    margin-bottom: 20px;
    margin-top: 0;
}

.news-item p,
.news-item h3,
.btn.btn-detailed{
    margin-left: 40px;
}

.btn.btn-detailed:hover {
    border-color: rgb(114, 65, 8);
    color: rgb(114, 65, 8);
}

.btn.btn-detailed:active {
    color: rgba(114, 65, 8, 0.5)
}

.btn.btn-buy {
    background-color: rgb(151, 85, 9);
    color: rgb(255, 255, 255);
    width: 100px;
}

.btn.btn-buy:hover {
    background-color: rgb(114, 65, 8);
}

.btn.btn-buy:active {
    color: rgba(255, 255, 255, 0.5);
}

.price {
    font-weight: bold;
    display: inline-block;
    margin: 15px 0 0 20px;
}

.benefits {
    background-color: rgb(243, 194, 102);
    padding-bottom: 65px;
    padding-top: 78px;
    margin-top: 30px;
}

.benefits ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.benefits .container {
    width: 1350px;
    padding-left: 150px;
}

.benefits-item {
    position: relative;
    float: left;
    width: 300px;
    padding-top: 90px;
    padding-left: 90px;
    padding-right: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.benefits-item::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 85px;
    width: 65px;
    height: 65px;
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
}

.benefits-item.byitself::before {
    background-position: -1px -5px;
}

.benefits-item.native::before {
    background-position: -5px -76px;
}

.benefits-item.econom::before {
    background-position: 1px -143px;
}

.benefits-item:first-child {
    border-left: none;
}

h3.benefits-title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.benefits p {
    line-height: 29px;
}

.history {
    padding-top: 80px;
    padding-bottom: 10px;
}

.history .container {
    width: 900px;
}

.history .section-title {
    margin-bottom: 80px;
}

.history h3 {
    display: inline;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: 330px;
}

.history-source {
    margin-bottom: 25px;
}

.history-source a {
    color: rgb(151, 85, 9);
}

.history dl {
    width: 800px;
    margin: 0;
    padding: 0;
}

.history dt {
    margin: 0;
}

.history dd {
    position: relative;
    min-height: 100px;
    margin: 0;
    padding-right: 100px;
}

.history dd img {
    position: absolute;
    top: 10px;
    right: 0;
}

.history dd p {
    line-height: 29px;
    margin-top: 25px;
    margin-bottom: 80px;
}
.about-us {
    background-color: rgb(248, 236, 214);
    padding-top: 80px;
    padding-bottom: 100px;
}

.about-us .container {
    width: 900px;
}

.about-us .section-title {
    margin-bottom: 80px;
}

blockquote {
    position: relative;
    margin: 0;
    padding: 0;
}

svg {
    position: absolute;
    top: 5px;
    left: -77px;
    width: 25px;
    height: 40px;
}

svg.left {
    left: -100px;
}

.about-us p {
    line-height: 29px;
    margin-bottom: 40px;
}

cite {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    margin-left: 310px;
    padding-top: 15px;
}

.btn-read {
    color: rgb(165, 162, 162);
    border-color: rgb(165, 162, 162);
    width: 150px;
}

.choice {
    padding-top: 90px;
    padding-bottom: 90px;
}

.choice .container {
    width: 808px;
}

.price-list {
    width: 100%;
    border-collapse: collapse;
    line-height: 30px;
}

.choice .section-title {
    margin-bottom: 75px;
}

.price-list th,
.price-list td {
    border-bottom: 1px solid rgb(229, 229, 229);
    padding: 18px;
}

.price-list th {
    text-transform: uppercase;
    color: rgb(181, 181, 181);
    text-align: left;
    vertical-align: top;
    font-size: 10px;
    padding-top: 0;
    padding-bottom: 30px;
    padding-left: 0;
}

.price-list td {
    vertical-align: middle;
}

.price-list .price-name {
    width: 390px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 0;
}

.price-list .price-alc,
.price-list .price-energy,
.price-list .price-volume {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    width: 75px;
}

.price-list .price-price {
    text-align: right;
    width: 180px;
    padding-right: 0;
}

.price-list .price-alc,
.price-list .price-energy,
.price-list .price-volume,
.price-list .price-price {
    text-transform: uppercase;
}

p.novelty {
    display: inline-block;
    font-size: 9px;
    color: #ffffff;
    background: #000000;
    margin-left: 20px;
    padding: 0 5px;
    height: 12px;
    vertical-align: middle;
    line-height: 14px;
    border-radius: 2px;
    margin-bottom: 13px;
}

td.spec {
    padding-top: 15px;
    padding-bottom: 15px;
}

.order {
    background-color: rgb(255, 203, 120);
    padding-bottom: 100px;
    padding-top: 85px;
}

.order .container {
    width: 801px;
}

.order .section-title {
    margin-bottom: 60px;
}

.order-tip {
    display: inline-block;
    line-height: 29px;
    margin-bottom: 70px;
}

.order-form-group {
    margin-bottom: 13px;
}

.order-form-group-email {
    margin-bottom: 58px;
}

.order-form label {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

.order-form-group-left {
    float: left;
}

.order-form-group-right {
    float: right;
}

.order-form input[type="text"],
.order-form select,
.order-form textarea {
    box-sizing: border-box;
    height: 50px;
    padding: 9px 20px;
    border: none;
    background-color: rgb(230, 182, 108);
}

::-webkit-input-placeholder{
    color: rgb(160, 127, 73);
    font-weight: bold;
}

label[for="fullname"] {
    padding-right: 50px;
}

input[id="fullname"],
select[id="order-volume"],
input[id="email"] {
    width: 600px;
}

label[for="phone"] {
    padding-right: 36px;
}

input[id="phone-odd"],
input[id="phone"] {
    width: 200px;
}

label[for="phone-odd"] {
    padding-right: 30px;
}

label[for="email"] {
    padding-right: 141px;
}

label[for="order-volume"] {
    padding-right: 61px;
}

/* custom select */
.order-form select {
    display: none;
}

.select-custom {
    position: relative;
	width: 580px;            
    height: 27px; 
    background-color: rgb(230, 182, 108);
    color: rgb(160, 127, 73);
    padding: 16px 0 9px 20px;
}

.select-label {
    padding-right: 60px;
}

.select-custom,
.select-label {
	display: inline-block;
	vertical-align: middle;
}

.select-custom::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 20px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid rgb(180, 143, 88);
}
/* custom select */

.order-form textarea {
    box-sizing: border-box;
    height: 150px;
    width: 600px;
    padding: 20px;
    border: none;
    background-color: rgb(230, 182, 108);
}

label[for="message"] {
    padding-right: 25px;
    float: left;
    margin-top: 15px;
}

.order-form-group-message {
    margin-bottom: 35px;
}

/* customize .checkbox */
.checkbox {
	display: none;
}

.checkbox-custom {
	position: relative;      
	width: 35px;            
	height: 35px;            
    background-color: rgb(230, 182, 108);
    margin-right: 25px;
    margin-left: 200px;
}

.checkbox-custom,
.checkbox-label {
	display: inline-block;
	vertical-align: middle;
}

.checkbox:checked + .checkbox-custom::before {
	content: "";             
	display: block;			 
	position: absolute;      
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url("img/bird.png");
}
/* customize .checkbox */

.checkbox-area {
    margin-bottom: 45px;
}

input[type="submit"] {
    border: none;
    color: rgb(255, 255, 255);
    background: rgb(131, 71, 0);
    width: 200px;
    padding: 14px 20px;
    margin-left: 200px;
}

/* .page-footer */
.page-footer {
    padding-top: 45px;
    padding-bottom: 50px;
}

.page-footer .container {
    width: 1020px;
}

.footer-top {
    padding-bottom: 40px;
}

.footer-logo {
    float: left;
    padding-left: 30px;
}

.page-footer .main-nav {
    width: 605px;
    margin: 0;
    margin-top: 15px;
    margin-left: 130px;
    padding: 20px 0;
    list-style: none;
    border-top: none;
    border-bottom: none;
}

.footer-social {
    float: left;
    width: 219px;
    font-size: 0;
    margin-right: 90px;
}

.social-btn {
    display: inline-block;
    width: 73px;
    height: 67px;
    vertical-align: middle;
    color: #ffffff;
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
}

.social-btn-in {
    background-position: 20px -355px;
    background-color: #1b1b1b;
}

.social-btn-fb {
    background-position: 24px -294px;
    background-color: #222222;
}

.social-btn-vk {
    background-position: 22px -234px;
    background-color: #1b1b1b;
}

.reference-needed {
    display: block;
    float: left;
    font-size: 14px;
    color: #999999;
}

.footer-copyright {
    float: right;
    position: relative;
    margin-right: 20px;
}

.footer-copyright::before {
    content: "";
    position: absolute;
    width: 67px;
    height: 67px;
    top: -10px;
    left: -90px;
    background: url(img/htmlacademy.png) no-repeat;
    background-position: 20px 18px;
    background-color: #1b1b1b;
}

.footer-copyright a,
.footer-copyright b {
    color: #999999;
    font-size: 14px;
}

/* .footer-copyright b {
    padding-left: 60px;
} */
